.hero {
    padding: 50px 0;
    background-color: var(--dark-blue);
    color: white;
    text-align: center;
  }
  
  .hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: auto;
  } 

  .project-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: var(--nav-height); 
    padding: 0 20px;
  }
  
  .project-card {
    margin: 1rem;
    flex: 1; 
    min-width: 300px; 
    max-width: calc(33% - 2rem); 
    text-align: left;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  
  .project-card img {
    width: 100%; 
    height: auto; 
    object-fit: contain; 
    max-height: 250px; 
    background-color: #fff; 
  }

.project-card-actions .btn {
    margin: 5px; 
  }
  .project-card a.text-decoration-none {
    color: inherit; 
    text-decoration: none; 
  }
  
  .project-card a.text-decoration-none .card-title,
  .project-card a.text-decoration-none .card-text {
    color: #000; 
  }   
  
  @media (max-width: 1200px) {
    .project-card {
      max-width: calc(50% - 2rem); 
    }
  }
  
  @media (max-width: 768px) {
    .project-card {
      max-width: calc(100% - 2rem); 
    }
  }
  
  