.header {
    background-color: #264653; /* Dark blue */
    color: #E9C46A; /* Yellow */
    padding: 1rem 0;
    text-align: center;
    font-size: 2.5rem; /* Increase the size of the text */
    font-weight: 700; /* Make the font bold */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }
  